/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

text {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

// main {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}