<div class="home-container">
  <div class="matchmaking">
    <h2>Click here to start matchmaking</h2>
    <button mat-raised-button (click)="startGame()">Play</button>
  </div>
</div>
<simple-notifications></simple-notifications>
<!--<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Nickname</mat-card-title>
      <mat-card-subtitle>Qua mettiamo l'mmr della persona?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>INVTE</button>
      <button mat-button>CHAT</button>
      <button mat-button>REMOVE FRIEND</button>
    </mat-card-actions>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Nickname</mat-card-title>
      <mat-card-subtitle>Qua mettiamo l'mmr della persona?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>INVTE</button>
      <button mat-button>CHAT</button>
      <button mat-button>REMOVE FRIEND</button>
    </mat-card-actions>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Nickname</mat-card-title>
      <mat-card-subtitle>Qua mettiamo l'mmr della persona?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>INVTE</button>
      <button mat-button>CHAT</button>
      <button mat-button>REMOVE FRIEND</button>
    </mat-card-actions>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Nickname</mat-card-title>
      <mat-card-subtitle>Qua mettiamo l'mmr della persona?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>INVTE</button>
      <button mat-button>CHAT</button>
      <button mat-button>REMOVE FRIEND</button>
    </mat-card-actions>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Nickname</mat-card-title>
      <mat-card-subtitle>Qua mettiamo l'mmr della persona?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>INVTE</button>
      <button mat-button>CHAT</button>
      <button mat-button>REMOVE FRIEND</button>
    </mat-card-actions>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Nickname</mat-card-title>
        <mat-card-subtitle>Qua mettiamo l'mmr della persona?</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>INVTE</button>
        <button mat-button>CHAT</button>
        <button mat-button>REMOVE FRIEND</button>
      </mat-card-actions>
</mat-card>-->