<div class="container">
    <h1>Connect Four!</h1>
    <hr />

    <span id="header">
        <h4>Player1: {{player1.username}} Color: {{ player1.color }}</h4>
        <h4>Player2: {{player2.username}} Color: {{ player2.color }}</h4>
        <!--
                <h4>Player 1: <span id="player1header" class="text-danger"></span></h4>
                <h4>Plyaer 2: <span id="player2header" class="text-warning"></span></h4>
                  -->
    </span>

    <main>
        <app-cell *ngFor="let val of cell; let i = index" [ngStyle]=" {'background-color': val}"
            (click)="addDotRequest(i)">
        </app-cell>
    </main>

    <app-gamechat></app-gamechat>
</div>