<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Matches playes</th>
      </tr>
      </thead>
      <tbody>
      <!--<tr *ngFor="let friend of friends">
        <td><span>{{friend.username}}</span></td>
        <td><span>{{friend.email}}</span></td>
        <td><span>{{friend.matchesPlayed}}</span></td>-->
        <tr>
        <td><span>Ciccio</span></td>
        <td><span>Caio@gmail.com</span></td>
        <td><span>50</span></td>
        <td>
          <button mat-raised-button >Invite</button>
          <button mat-raised-button >Chat</button>
          <!--<button mat-raised-button (click)= "deleteFriend(friend.email)">Remove</button>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>