<div class="chat-container">
  <div class="chat-messages">
    <span class="message" *ngFor="let item of messageArray">
    <span *ngIf="(item.user === username)">
      <span [ngStyle]="{'color': playerColor}"  class="username">{{item.user}}</span>: {{item.message}}
    </span>
    <span *ngIf="(item.user === otherUsername)">
      <span [ngStyle]="{'color': otherPlayerColor}"  class="username">{{item.user}}</span>: {{item.message}}
    </span>
    <span *ngIf="isObserver&&item.user!==username&&item.user!==otherUsername">
      <span [ngStyle]="{'color': 'gray'}"  class="username">{{item.user}}</span>: {{item.message}}
    </span>
    </span>
  </div>
  <hr>
  <div class="chat-form-container">
    <form id="chat-form">
      <input type="text" class="form-control" [(ngModel)]="messageText" name="msg" placeholder="Enter Message" required
        autocomplete="off" maxlength="150" />
      <button mat-flat-button (click)="sendMessage();">Send</button>
    </form>
  </div>
</div>