<mat-toolbar color="primary">
  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
    <ul fxLayout fxLayoutGap="25px" class="navigation-items">
      <li>
        <a [ngClass]="{'active': selectedItem === '/home' || selectedItem === '/'}" [routerLink]="['/home/']">Home</a>
      </li>
      <li>
        <a [ngClass]="{'active': selectedItem === '/ranking'}" routerLink="/ranking">Ranking</a>
      </li>
      <li>
        <a [ngClass]="{'active': selectedItem === '/profile'}" [routerLink]="['/profile/']">Profile</a>
      </li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <app-search></app-search>
  </div>
</mat-toolbar>