<div class="flex-container">
    <div class="left-column">
        <div class="turn">{{turnMessage}}</div>
        <div class="spacer"></div>
        <div class="gamegrid">
            <app-cell [index]="i" [events]="eventsSubject.asObservable()" [hoverColor]="player.color"
                *ngFor="let val of cell; let i = index" [ngStyle]=" {'background-color': val}"
                (click)="addDotRequest(i)">
            </app-cell>
        </div>
    </div>
    <div class="right-column">
        <app-gamechat [playerColor]="this.player.color"></app-gamechat>
    </div>
</div>