<mat-card class="container">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form class="form">
        <mat-form-field class="field">
            <input matInput type="email" #mailtxt id="inputEmail" placeholder="Email address" #email="ngModel"
                name="email" [(ngModel)]="user.email" required autofocus>
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput type="password" #password="ngModel" required name="password" [(ngModel)]="user.password"
                #passwdtxt id="inputPassword" placeholder="Password" required>
        </mat-form-field>

        <!--<button mat-raised-button (click)="login( mailtxt.value, passwdtxt.value, checkr.checked );">Sign in</button>-->
        <button mat-raised-button (click)="login();">Sign in</button>
        <button mat-raised-button routerLink="/signup">Sign up</button>
    </form>
</mat-card>