button {
	background-color: #00E676;
}

.chat-container {
	display: flex;
	flex-direction: column;
	border: solid;
	border-radius: 30px;
	border-width: 1px;
	border-color: #777;
	max-width: 55vh;
}

.username {
	font-weight: bold;
}

hr {
	color: #777;
}

.chat-messages {
	display: flex;
	flex-direction: column;
	padding-top: 2vh;
	padding-left: 2vh;
	min-width: 35vh;
	min-height: 38vh;
	overflow-y: scroll;
}

.chat-messages .message {
	border-radius: 5px;
	word-wrap: break-word;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
}

.chat-header {
	text-align: center;
	font-size: 2rem;
	padding-top: 5px;
}

mat-list {
    flex-grow: 1;
    overflow: auto;
		max-height: 15vh;
}