<!-- <div class="chat-container">
  <span class="chat-header">{{friendUsername}}</span>
  <div class="chat-messages">
    <span class="message" *ngFor="let item of messageArray">
      <span class="username">{{item.username}}</span>:
      {{item.content}}
    </span>
  </div>
  <hr>
  <div class="chat-form-container">
    <form id="chat-form">
      <input type="text" class="form-control" [(ngModel)]="messageText" name="msg" placeholder="Enter Message" required
        autocomplete="off" maxlength="150" />
      <button mat-flat-button (click)="sendMessage();">Send</button>
    </form>
  </div>
</div> -->

<div class="chat-container">
  <span class="chat-header">{{friendUsername}}</span>
  <mat-list>
    <mat-list-item *ngFor="let message of messageArray">
      <span class="username">{{message.username }}:</span>
      <span class="demo-2">{{message.content}} </span>
    </mat-list-item>
  </mat-list>
  <br><br>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="messageText" name="msg" placeholder="Enter Message"
      autocomplete="off" maxlength="150" /><br><br>
    <button mat-flat-button (click)="sendMessage();">Send</button>
  </mat-form-field>
</div>
