<!--<div class="container" style="width: 400px; margin-top: 20px;" >
    <div class="form-signin text-center loginform ">
      <i class="fas fa-envelope loginlogo"></i>
  
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" #mailtxt id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" #passwdtxt id="inputPassword" class="form-control" placeholder="Password" required>
      
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" #checkr value="remember-me"> Remember me
        </label>
      </div>
      
      <div *ngIf="errmessage" class="alert alert-danger" role="alert">
        Login error: {{errmessage}}
      </div>
      
      <button class="btn btn-lg btn-primary btn-block" (click)="login( mailtxt.value, passwdtxt.value, checkr.checked );" >Sign in</button>
      <p><a routerLink="/signup">Sign-up new user</a></p>
      
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
    </div>
  </div>-->

<div fxLayoutAlign="center center" fxFlexFill>
        <mat-card fxFlex="50">
            <mat-toolbar color="primary">Login Page</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <input matInput type="email" #mailtxt id="inputEmail" placeholder="Email address" required autofocus>
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput type="password" #passwdtxt id="inputPassword" placeholder="Password" required>
                </mat-form-field>

                <mat-checkbox #checkr value="remember-me">Remember me</mat-checkbox>

                <button mat-raised-button (click)="login( mailtxt.value, passwdtxt.value, checkr.checked );">Sign in</button>
                <p><a routerLink="/signup">Sign-up new user</a></p>
            </form>
        </mat-card>
</div>