<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="match.component.scss" />
        <title>Forza 4</title>
        <script src="match.component.ts"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Connect Four!</h1>
            <hr />

              <span id="header">
                  <h4>Player1: {{player1.username}}    Color: {{ player1.color }}</h4>
                  <h4>Player2: {{player2.username}}    Color: {{ player2.color }}</h4>
                  <!--
                <h4>Player 1: <span id="player1header" class="text-danger"></span></h4>
                <h4>Plyaer 2: <span id="player2header" class="text-warning"></span></h4>
                  -->
              </span>
              
            <main>
                <app-cell
                    *ngFor="let val of cell; let i = index"
                    [ngStyle]=" {'background-color': val}"
                    (click)="addDotRequest(i)"
                    >
                </app-cell>
            </main>
            
              <app-gamechat></app-gamechat>
        </div>
    </body>
</html>